<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/resources/css/aui-all.css" media="all">
    <!--[if IE 9]><link rel="stylesheet" href="/resources/css/aui-ie9.css" media="all"><![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/resources/js/aui-all.js"></script>
</head>

<body class="aui-layout aui-theme-default aui-page-fixed" data-aui-version="5.5.1">

<div id="page">

    <header id="header" role="banner">
        <!-- App Header goes inside #header -->

        <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
            <div class="aui-header-primary">
                <h1 id="logo" class="aui-header-logo aui-header-logo-aui"><a href="#"><span
                                class="aui-header-logo-device">AUI</span></a></h1>
                <ul class="aui-nav">
                    <li><a href="#dropdown2-jira3" aria-owns="dropdown2-jira3" aria-haspopup="true"
                           class="aui-dropdown2-trigger" aria-controls="dropdown2-header7">Menu<span
                                    class="aui-icon-dropdown"></span></a>

                        <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-jira3"
                             style="display: none; top: 40px; min-width: 160px; left: 1213px; " aria-hidden="true">
                            <div class="aui-dropdown2-section">
                                <ul>
                                    <li><a href="#">Item 1</a></li>
                                    <li><a href="#">Item 2</a></li>
                                    <li><a href="#">Item 3</a></li>
                                    <li><a href="#">Item 4</a></li>
                                    <li><a href="#">Item 5</a></li>
                                </ul>
                            </div>
                            <div class="aui-dropdown2-section">
                                <ul>
                                    <li><a href="#">Item 6</a></li>
                                    <li><a href="#">Item 7</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- You can also use a split button in this location, if more than one primary action is required. -->
                    <li><a class="aui-button aui-button-primary" href="#">Action</a></li>
                </ul>
            </div>
            <div class="aui-header-secondary">
                <ul class="aui-nav">
                    <li>
                        <form action="/foo" method="post" class="aui-quicksearch">
                            <label for="quicksearchid" class="assistive">Search</label>
                            <input id="quicksearchid" class="search" type="text" placeholder="Search..."
                                   name="quicksearchname">
                        </form>
                    </li>
                    <li><a href="#dropdown2-header7" aria-owns="dropdown2-header7" aria-haspopup="true"
                           class="aui-dropdown2-trigger" aria-controls="dropdown2-header7"><span
                                    class="aui-icon aui-icon-small aui-iconfont-help">Help</span><span
                                    class="aui-icon-dropdown"></span></a>

                        <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header7"
                             style="display: none; top: 40px; min-width: 160px; left: 1213px; " aria-hidden="true">
                            <div class="aui-dropdown2-section">
                                <ul>
                                    <li><a href="#" class="active">Online help</a></li>
                                    <li><a href="#">Keyboard shortcuts</a></li>
                                    <li><a href="#">About</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#dropdown2-header9" aria-owns="dropdown2-header9" aria-haspopup="true"
                           class="aui-dropdown2-trigger" aria-controls="dropdown2-header9">
                            <div class="aui-avatar aui-avatar-small">
                                <div class="aui-avatar-inner">
                                    <img src="src/img/avatar-16.png"></img>
                                </div>
                            </div>
                        </a>

                        <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header9"
                             style="display: none; top: 40px; min-width: 160px; left: 1213px;" aria-hidden="true">
                            <div class="aui-dropdown2-section">
                                <ul>
                                    <li><a href="#" class="active">Profile</a></li>
                                    <li><a href="#">Extensions</a></li>
                                </ul>
                            </div>
                            <div class="aui-dropdown2-section">
                                <ul>
                                    <li><a href="#">Use Agile by default</a></li>
                                </ul>
                            </div>
                            <div class="aui-dropdown2-section">
                                <ul>
                                    <li><a href="#">Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- App Header goes inside #header -->
    </header>

    <section id="content" role="main">

        <div class="aui-page-panel">

            <div class="aui-page-panel-inner">

                {{ support_message('https://support.atlassian.com/rest/announce/1.0/banner') }}

                {% block body %}
                {% endblock %}

            </div>

        </div>

    </section>

    <footer id="footer" role="contentinfo">
        <section class="footer-body">
            <div id="footer-logo"></div>
        </section>
    </footer>

</div>

</body>

</html>